html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}
text {
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}
#root {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#container {
  width: 100%;
  box-sizing: border-box;
}
